.vscode
.DS_Store
*.user
*.ncb
*.suo
*.pyc
*.xcuserdatad
*.tmp
*.zip
Release
Output
/SimpleJVM/SimpleJava.tab.cpp
/SimpleJVM/SimpleJava.tab.h
x64
*.ilk
*.pdb
/temp/
build
*.db
*.settings
*.obj
*.lib
BuildLog.htm
*.pch
*.idb
*.log
project.xcworkspace
*.xcscheme
obj
/third-parties
/temp
/TinyJS
~$*
