// app global css in SCSS form
.player-primary-color {
  color: white;
  background: #009900;
}

.player-secondary-color {
  color: rgb(0, 0, 0);
  background: #f6c7bd;
}

.text-player-primary {
  color: #009900 !important;
}
.bg-player-primary {
  background: #009900 !important;
}
