// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU_ID MENU
BEGIN
    POPUP "RateMenu"
    BEGIN
        MENUITEM "Rate These Lyrics: 1 (Low)",  IDC_RATE_LYR_1
        MENUITEM "Rate These Lyrics: 2",        IDC_RATE_LYR_2
        MENUITEM "Rate These Lyrics: 3",        IDC_RATE_LYR_3
        MENUITEM "Rate These Lyrics: 4",        IDC_RATE_LYR_4
        MENUITEM "Rate These Lyrics: 5 (High)", IDC_RATE_LYR_5
    END
    POPUP "OpenLyricsDlgMenu"
    BEGIN
        MENUITEM "&Browse File...",             IDC_BROWSE
        MENUITEM "&No Suitable Lyrics for the Song File", IDC_NOT_MATCH
        MENUITEM "&Edit with External Lyrics Editor...", IDC_EXTERNAL_LYR_EDIT
        MENUITEM SEPARATOR
        MENUITEM "&Delete File",                IDC_DEL_FILE
        MENUITEM "&Rename File",                IDC_RENAME
        MENUITEM SEPARATOR
        MENUITEM "Don't &Pop up This Window Automatically", IDC_NO_PROMPT
    END
    POPUP "AlbumArtMenu"
    BEGIN
        MENUITEM "Browse Album Art...",         IDC_BR_ALBUM_ART
    END
    POPUP "LyrEditorMenu"
    BEGIN
        POPUP "&File"
        BEGIN
            POPUP "&Upload Lyrics"
            BEGIN
                MENUITEM "&Upload Lyrics...",           IDC_UPLOAD_LYRICS
                MENUITEM "Sign in Via &Web Browser...", IDC_LOGIN_VIA_IE
                MENUITEM "&Sign up Free...",            IDC_APPLY_ACCOUNT
            END
            MENUITEM SEPARATOR
            MENUITEM "&New Lyrics",                 IDC_NEW_LYRICS
            MENUITEM "Open &Lyrics...",     IDC_OPEN_LYRICS
            MENUITEM SEPARATOR
            MENUITEM "Save Lyrics in &Song File...", IDC_EMBEDDED_LYRICS
            MENUITEM SEPARATOR
            MENUITEM "&Save Lyrics",        IDC_SAVE_LYRICS
            MENUITEM "Save Lyrics &As...",          IDC_SAVE_LYRICS_AS
            MENUITEM SEPARATOR
            POPUP "&Character Encoding"
            BEGIN
                MENUITEM "&Default",                    IDC_ENC_DEFAULT
                MENUITEM SEPARATOR
                MENUITEM "Arabic",                      IDC_ENC_ARABIC
                MENUITEM SEPARATOR
                MENUITEM "Baltic",                      IDC_ENC_BALTIC
                MENUITEM SEPARATOR
                MENUITEM "Cyrillic",                    IDC_ENC_CYRILLIC
                MENUITEM SEPARATOR
                MENUITEM "Central European",            IDC_ENC_CENTRAL_EUROPE
                MENUITEM SEPARATOR
                MENUITEM "Western European",            IDC_ENC_WEST_EUROPE
                MENUITEM SEPARATOR
                MENUITEM "Greek",                       IDC_ENC_GREEK
                MENUITEM SEPARATOR
                MENUITEM "Hebrew",                      IDC_ENC_HEBREW
                MENUITEM SEPARATOR
                MENUITEM "&Japanese",                   IDC_ENC_JAPANESE
                MENUITEM SEPARATOR
                MENUITEM "&Korean",                     IDC_ENC_KOREAN
                MENUITEM SEPARATOR
                MENUITEM "Latin 9 (ISO)",               IDC_ENC_LATIN9_ISO
                MENUITEM SEPARATOR
                MENUITEM "&Simplified Chinese (GB)",    IDC_ENC_CHS
                MENUITEM "&Traditional Chinese (Big5)", IDC_ENC_CHT
                MENUITEM SEPARATOR
                MENUITEM "Thai",                        IDC_ENC_THAI
                MENUITEM SEPARATOR
                MENUITEM "Turkish",                     IDC_ENC_TURKISH
                MENUITEM SEPARATOR
                MENUITEM "&Unicode",                    IDC_ENC_UNICODE
                MENUITEM "Utf-&8",                      IDC_ENC_UTF8
                MENUITEM SEPARATOR
                MENUITEM "Vietnamese",                  IDC_ENC_VIETNAMESE
            END
            MENUITEM SEPARATOR
            MENUITEM "&Close",                      IDCLOSE
        END
        POPUP "&Play"
        BEGIN
            MENUITEM "&Play/Pause",                 IDC_PLAYPAUSE
            MENUITEM "&Stop",                       IDC_STOP
            MENUITEM SEPARATOR
            MENUITEM "Pr&evious",                   IDC_PREV
            MENUITEM "&Next",                       IDC_NEXT
            MENUITEM SEPARATOR
            MENUITEM "&Backward 2 Seconds", IDC_BACKWARD2SEC
            MENUITEM "&Forward 2 Seconds", IDC_FORWARD2SEC
            MENUITEM "Jump to current line", IDC_JUMP_TO_CURRENT_LINE
        END
        POPUP "&Edit"
        BEGIN
            MENUITEM "&Undo",               IDC_EDIT_UNDO
            MENUITEM "&Redo",               IDC_EDIT_REDO
            MENUITEM SEPARATOR
            MENUITEM "Cu&t",                IDC_EDIT_CUT
            MENUITEM "&Copy",               IDC_EDIT_COPY
            MENUITEM "&Paste",              IDC_EDIT_PASTE
            MENUITEM "&Delete",                IDC_EDIT_DELETE
            MENUITEM SEPARATOR
            MENUITEM "&Find...",            IDC_EDIT_FIND
            MENUITEM "&Replace...",         IDC_EDIT_REPLACE
        END
        POPUP "&Lyrics"
        BEGIN
            MENUITEM "Synchronize the current line and move to next line", IDC_INSERT_TAG_AND_MOVE_DOWN
            MENUITEM "Synchronize the current line", IDC_INSERT_TAG
            MENUITEM SEPARATOR
            MENUITEM "Auto fill artist, album and title info", IDC_AUTO_FILL_LYRICS_INFO
            MENUITEM SEPARATOR
            MENUITEM "Forward the timestamp of this line 0.2s", IDC_FORWARD_CUR_LINE
            MENUITEM "Backward the timestamp of this line 0.2s", IDC_BACKWARD_CUR_LINE
            MENUITEM SEPARATOR
            MENUITEM "Forward the remaining lyrics 0.2s", IDC_FORWARD_REMAIN_LINES
            MENUITEM "Backward the remaining lyrics 0.2s", IDC_BACKWARD_REMAIN_LINES
            MENUITEM SEPARATOR
            MENUITEM "Trim Leading and Trailing Whitespace of All Lines", IDC_TRIM_SPACE
            MENUITEM "Remove All Timestamps",       IDC_REMOVE_ALL_TAG
            MENUITEM "Remove All Blank Lines",      IDC_REMOVE_BLANK_LINE
            MENUITEM "Remove All Unsynchronized Lines", IDC_REMOVE_UNSYNC_LINE
            MENUITEM SEPARATOR
            MENUITEM "Capitalize the Leading Letter of All Lines", IDC_CAPITALIZE_LEADING_LETTER
            MENUITEM "Convert All Lyrics Characters to Lower Case", IDC_TO_LOWER_CASE
        END
        POPUP "&Options"
        BEGIN
            MENUITEM "&Lyrics Color...",            IDC_EDITOR_LYR_COLOR
            MENUITEM "&Highlight Lyrics Color...",  IDC_EDITOR_HIGH_COLOR
            MENUITEM "&Tag Color...",               IDC_TAG_COLOR
            MENUITEM "&Background Color of Edited Line...", IDC_EDIT_LINE_COLOR
            MENUITEM "Back&ground Color...",        IDC_EDITOR_BG_COLOR
            MENUITEM SEPARATOR
            MENUITEM "Edit Lyrics &Tag",            IDC_EDIT_LYR_TAG
        END
        POPUP "&Help"
        BEGIN
            MENUITEM "A&bout $Product$...",         IDC_ABOUT
            MENUITEM "$Product$ &Help",             IDC_ML_HELP
            MENUITEM SEPARATOR
            MENUITEM "$Product$ &Website",          IDC_WEBHOME
            MENUITEM "&Report to Author",           IDC_EMAIL
        END
    END
    POPUP "MainWndMenu"
    BEGIN
        POPUP "&File"
        BEGIN
            MENUITEM "&Open File...",               IDC_OPENFILE
            MENUITEM "Open &Folder...",             IDC_OPENDIR
            MENUITEM "Open &URL...",                IDC_OPENDIR
            MENUITEM SEPARATOR
            MENUITEM "&Add File...",                IDC_ADDFILE
            MENUITEM "Add F&older...",              IDC_ADDDIR
            MENUITEM "Add UR&L...",                 IDC_OPENDIR
            MENUITEM SEPARATOR
            MENUITEM "&New Playlist",               IDC_NEW_PL
            MENUITEM "Open &Playlist",              IDC_OPEN_PL
            MENUITEM "&Save Playlist...",           IDC_SAVE_PL
            MENUITEM SEPARATOR
            MENUITEM "Media &Information",          IDC_MEDIA_INFO
        END
        POPUP "Play&back"
        BEGIN
            MENUITEM "&Play/Pause",                 IDC_PLAYPAUSE
            MENUITEM SEPARATOR
            MENUITEM "Pr&evious",                   IDC_PREV
            MENUITEM "&Next",                       IDC_NEXT
            MENUITEM SEPARATOR
            MENUITEM "&Shuffle",                    IDC_SHUFFLE
            MENUITEM "&Repeat",                     IDC_REPEAT_OFF
            MENUITEM SEPARATOR
            MENUITEM "E&qualizer",                  IDC_EQ
        END
        POPUP "&Lyrics"
        BEGIN
            MENUITEM "&Search Lyrics...",        IDC_OPEN_LYRICS
            MENUITEM SEPARATOR
            POPUP "Ra&te These Lyrics"
            BEGIN
                MENUITEM "5 (High)",                    IDC_RATE_LYR_5
                MENUITEM "4",                           IDC_RATE_LYR_4
                MENUITEM "3",                           IDC_RATE_LYR_3
                MENUITEM "2",                           IDC_RATE_LYR_2
                MENUITEM "1 (Low)",                     IDC_RATE_LYR_1
            END
            POPUP "&Upload Lyrics"
            BEGIN
                MENUITEM "&Upload Lyrics...",           IDC_UPLOAD_LYRICS
                MENUITEM "Sign in Via &Web Browser...", IDC_LOGIN_VIA_IE
                MENUITEM "&Sign up Free...",            IDC_APPLY_ACCOUNT
            END
            MENUITEM SEPARATOR
            MENUITEM "Save Lyrics in &Song File...", IDC_EMBEDDED_LYRICS
            MENUITEM SEPARATOR
            MENUITEM "&Save Lyrics",        IDC_SAVE_LYRICS
            MENUITEM "Save Lyrics &As...",          IDC_SAVE_LYRICS_AS
            MENUITEM SEPARATOR
            POPUP "&Character Encoding"
            BEGIN
                MENUITEM "&Default",                    IDC_ENC_DEFAULT
                MENUITEM SEPARATOR
                MENUITEM "Arabic",                      IDC_ENC_ARABIC
                MENUITEM SEPARATOR
                MENUITEM "Baltic",                      IDC_ENC_BALTIC
                MENUITEM SEPARATOR
                MENUITEM "Cyrillic",                    IDC_ENC_CYRILLIC
                MENUITEM SEPARATOR
                MENUITEM "Central European",            IDC_ENC_CENTRAL_EUROPE
                MENUITEM SEPARATOR
                MENUITEM "Western European",            IDC_ENC_WEST_EUROPE
                MENUITEM SEPARATOR
                MENUITEM "Greek",                       IDC_ENC_GREEK
                MENUITEM SEPARATOR
                MENUITEM "Hebrew",                      IDC_ENC_HEBREW
                MENUITEM SEPARATOR
                MENUITEM "&Japanese",                   IDC_ENC_JAPANESE
                MENUITEM SEPARATOR
                MENUITEM "&Korean",                     IDC_ENC_KOREAN
                MENUITEM SEPARATOR
                MENUITEM "Latin 9 (ISO)",               IDC_ENC_LATIN9_ISO
                MENUITEM SEPARATOR
                MENUITEM "&Simplified Chinese (GB)",    IDC_ENC_CHS
                MENUITEM "&Traditional Chinese (Big5)", IDC_ENC_CHT
                MENUITEM SEPARATOR
                MENUITEM "Thai",                        IDC_ENC_THAI
                MENUITEM SEPARATOR
                MENUITEM "Turkish",                     IDC_ENC_TURKISH
                MENUITEM SEPARATOR
                MENUITEM "&Unicode",                    IDC_ENC_UNICODE
                MENUITEM "Utf-&8",                      IDC_ENC_UTF8
                MENUITEM SEPARATOR
                MENUITEM "Vietnamese",                  IDC_ENC_VIETNAMESE
            END
            MENUITEM SEPARATOR
            MENUITEM "&Edit with External Lyrics Editor...", IDC_EXTERNAL_LYR_EDIT
        END
        POPUP "&View"
        BEGIN
            MENUITEM "Lyrics &Editor...",           IDC_LYR_EDITOR
            MENUITEM "&Floating Lyrics...",         IDC_FLOATING_LYRICS
            MENUITEM "&Preferences...",     IDC_PREFERENCE
            MENUITEM "INSERT_NEW_MENU_POS",         IDC_NEW_MENU_POS
            MENUITEM SEPARATOR
            MENUITEM "Ad&just Hue...",              IDC_ADJUST_HUE
            MENUITEM SEPARATOR
            MENUITEM "&Vertical Scrolling Style",   IDC_LDS_MULTI_LINE
            MENUITEM "S&tatic Text Style",          IDC_LDS_STATIC_TXT
            MENUITEM SEPARATOR
            MENUITEM "Mouse &Click Through",        IDC_CLICK_THROUGH
            MENUITEM "Always on &Top",      IDC_SETTOPMOST
        END
        POPUP "S&kins"
        BEGIN
            MENUITEM "INSERT_SKIN_POS",             IDC_SKIN_POS
            MENUITEM SEPARATOR
        END
        POPUP "&Help"
        BEGIN
            MENUITEM "A&bout $Product$...",         IDC_ABOUT
            MENUITEM "$Product$ &Help",             IDC_ML_HELP
            MENUITEM SEPARATOR
            MENUITEM "$Product$ &Website",          IDC_WEBHOME
        END
    END
    POPUP "MainContextMenu"
    BEGIN
        POPUP "&File"
        BEGIN
            MENUITEM "&Open File...",               IDC_OPENFILE
            MENUITEM "Open &Folder...",             IDC_OPENDIR
            MENUITEM "Open &URL...",                IDC_OPENDIR
            MENUITEM SEPARATOR
            MENUITEM "&Add File...",                IDC_ADDFILE
            MENUITEM "Add F&older...",              IDC_ADDDIR
            MENUITEM "Add UR&L...",                 IDC_OPENDIR
            MENUITEM SEPARATOR
            MENUITEM "&New Playlist",               IDC_NEW_PL
            MENUITEM "Open &Playlist",              IDC_OPEN_PL
            MENUITEM "&Save Playlist...",           IDC_SAVE_PL
            MENUITEM SEPARATOR
            MENUITEM "Media &Information",          IDC_MEDIA_INFO
        END
        MENUITEM "&Search Lyrics...",        IDC_OPEN_LYRICS
        POPUP "&Lyrics"
        BEGIN
            POPUP "Ra&te These Lyrics"
            BEGIN
                MENUITEM "5 (High)",                    IDC_RATE_LYR_5
                MENUITEM "4",                           IDC_RATE_LYR_4
                MENUITEM "3",                           IDC_RATE_LYR_3
                MENUITEM "2",                           IDC_RATE_LYR_2
                MENUITEM "1 (Low)",                     IDC_RATE_LYR_1
            END
            MENUITEM SEPARATOR
            MENUITEM "Save Lyrics in &Song File...", IDC_EMBEDDED_LYRICS
            MENUITEM SEPARATOR
            MENUITEM "&Save Lyrics",        IDC_SAVE_LYRICS
            MENUITEM "Save Lyrics &As...",          IDC_SAVE_LYRICS_AS
            MENUITEM SEPARATOR
            MENUITEM "&Upload Lyrics...",           IDC_UPLOAD_LYRICS
            MENUITEM "Sign in Via &Web Browser...", IDC_LOGIN_VIA_IE
            MENUITEM "&Sign up Free...",            IDC_APPLY_ACCOUNT
            MENUITEM SEPARATOR
            POPUP "&Character Encoding"
            BEGIN
                MENUITEM "&Default",                    IDC_ENC_DEFAULT
                MENUITEM SEPARATOR
                MENUITEM "Arabic",                      IDC_ENC_ARABIC
                MENUITEM SEPARATOR
                MENUITEM "Baltic",                      IDC_ENC_BALTIC
                MENUITEM SEPARATOR
                MENUITEM "Cyrillic",                    IDC_ENC_CYRILLIC
                MENUITEM SEPARATOR
                MENUITEM "Central European",            IDC_ENC_CENTRAL_EUROPE
                MENUITEM SEPARATOR
                MENUITEM "Western European",            IDC_ENC_WEST_EUROPE
                MENUITEM SEPARATOR
                MENUITEM "Greek",                       IDC_ENC_GREEK
                MENUITEM SEPARATOR
                MENUITEM "Hebrew",                      IDC_ENC_HEBREW
                MENUITEM SEPARATOR
                MENUITEM "&Japanese",                   IDC_ENC_JAPANESE
                MENUITEM SEPARATOR
                MENUITEM "&Korean",                     IDC_ENC_KOREAN
                MENUITEM SEPARATOR
                MENUITEM "Latin 9 (ISO)",               IDC_ENC_LATIN9_ISO
                MENUITEM SEPARATOR
                MENUITEM "&Simplified Chinese (GB)",    IDC_ENC_CHS
                MENUITEM "&Traditional Chinese (Big5)", IDC_ENC_CHT
                MENUITEM SEPARATOR
                MENUITEM "Thai",                        IDC_ENC_THAI
                MENUITEM SEPARATOR
                MENUITEM "Turkish",                     IDC_ENC_TURKISH
                MENUITEM SEPARATOR
                MENUITEM "&Unicode",                    IDC_ENC_UNICODE
                MENUITEM "Utf-&8",                      IDC_ENC_UTF8
                MENUITEM SEPARATOR
                MENUITEM "Vietnamese",                  IDC_ENC_VIETNAMESE
            END
            MENUITEM SEPARATOR
            MENUITEM "&Edit with External Lyrics Editor...", IDC_EXTERNAL_LYR_EDIT
        END
        MENUITEM SEPARATOR
        POPUP "S&kins"
        BEGIN
            MENUITEM "INSERT_SKIN_POS",             IDC_SKIN_POS
            MENUITEM SEPARATOR
        END
        POPUP "Display &Options"
        BEGIN
            MENUITEM "Dis&play Options...",         IDC_LYR_DISPLAY_OPT
            MENUITEM "Ad&just Hue...",              IDC_ADJUST_HUE
            MENUITEM SEPARATOR
            MENUITEM "Mouse &Click Through",        IDC_CLICK_THROUGH
            MENUITEM SEPARATOR
            MENUITEM "&Vertical Scrolling Style",   IDC_LDS_MULTI_LINE
            MENUITEM "&Double Line Style",          IDC_LDS_TWO_LINE
            MENUITEM "Single &Line Style",          IDC_LDS_SINGLE_LINE
            MENUITEM "S&tatic Text Style",          IDC_LDS_STATIC_TXT
            MENUITEM "Movie S&ubtitle Style",       IDC_LDS_VOBSUB
            MENUITEM SEPARATOR
            MENUITEM "&Karaoke",                    IDC_LDO_KARAOKE
            MENUITEM SEPARATOR
            MENUITEM "&Automatic",                  IDC_LDO_AUTO
            MENUITEM "Norma&l",                     IDC_LDO_NORMAL
            MENUITEM "&Fade in Lyrics",             IDC_LDO_FADE_IN
            MENUITEM "Fade out to Back&ground",     IDC_LDO_FADEOUT_BG
            MENUITEM SEPARATOR
            MENUITEM "Ant&ialiasing",               IDC_ANTIAlIAS
        END
        MENUITEM "&Preferences...",     IDC_PREFERENCE
        MENUITEM SEPARATOR
        MENUITEM "&Floating Lyrics...",         IDC_FLOATING_LYRICS
        MENUITEM "Lyrics &Editor...",           IDC_LYR_EDITOR
        MENUITEM "INSERT_NEW_MENU_POS",         IDC_NEW_MENU_POS
        MENUITEM SEPARATOR
        POPUP "&Help and Support"
        BEGIN
            MENUITEM "A&bout $Product$...",         IDC_ABOUT
            MENUITEM "$Product$ &Help",             IDC_ML_HELP
            MENUITEM SEPARATOR
            MENUITEM "$Product$ &Website",          IDC_WEBHOME
            MENUITEM "&Report to Author",           IDC_EMAIL
        END
        MENUITEM SEPARATOR
        MENUITEM "Always on &Top",      IDC_SETTOPMOST
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       IDC_EXIT
    END
    POPUP "LyricsMenu"
    BEGIN
        MENUITEM "&Search Lyrics...",        IDC_OPEN_LYRICS
        POPUP "&Lyrics"
        BEGIN
            POPUP "Ra&te These Lyrics"
            BEGIN
                MENUITEM "5 (High)",                    IDC_RATE_LYR_5
                MENUITEM "4",                           IDC_RATE_LYR_4
                MENUITEM "3",                           IDC_RATE_LYR_3
                MENUITEM "2",                           IDC_RATE_LYR_2
                MENUITEM "1 (Low)",                     IDC_RATE_LYR_1
            END
            MENUITEM SEPARATOR
            MENUITEM "Save Lyrics in &Song File...", IDC_EMBEDDED_LYRICS
            MENUITEM SEPARATOR
            MENUITEM "&Save Lyrics",        IDC_SAVE_LYRICS
            MENUITEM "Save Lyrics &As...",          IDC_SAVE_LYRICS_AS
            MENUITEM SEPARATOR
            POPUP "&Character Encoding"
            BEGIN
                MENUITEM "&Default",                    IDC_ENC_DEFAULT
                MENUITEM SEPARATOR
                MENUITEM "Arabic",                      IDC_ENC_ARABIC
                MENUITEM SEPARATOR
                MENUITEM "Baltic",                      IDC_ENC_BALTIC
                MENUITEM SEPARATOR
                MENUITEM "Cyrillic",                    IDC_ENC_CYRILLIC
                MENUITEM SEPARATOR
                MENUITEM "Central European",            IDC_ENC_CENTRAL_EUROPE
                MENUITEM SEPARATOR
                MENUITEM "Western European",            IDC_ENC_WEST_EUROPE
                MENUITEM SEPARATOR
                MENUITEM "Greek",                       IDC_ENC_GREEK
                MENUITEM SEPARATOR
                MENUITEM "Hebrew",                      IDC_ENC_HEBREW
                MENUITEM SEPARATOR
                MENUITEM "&Japanese",                   IDC_ENC_JAPANESE
                MENUITEM SEPARATOR
                MENUITEM "&Korean",                     IDC_ENC_KOREAN
                MENUITEM SEPARATOR
                MENUITEM "Latin 9 (ISO)",               IDC_ENC_LATIN9_ISO
                MENUITEM SEPARATOR
                MENUITEM "&Simplified Chinese (GB)",    IDC_ENC_CHS
                MENUITEM "&Traditional Chinese (Big5)", IDC_ENC_CHT
                MENUITEM SEPARATOR
                MENUITEM "Thai",                        IDC_ENC_THAI
                MENUITEM SEPARATOR
                MENUITEM "Turkish",                     IDC_ENC_TURKISH
                MENUITEM SEPARATOR
                MENUITEM "&Unicode",                    IDC_ENC_UNICODE
                MENUITEM "Utf-&8",                      IDC_ENC_UTF8
                MENUITEM SEPARATOR
                MENUITEM "Vietnamese",                  IDC_ENC_VIETNAMESE
            END
            MENUITEM SEPARATOR
            MENUITEM "&Edit with External Lyrics Editor...", IDC_EXTERNAL_LYR_EDIT
        END
        MENUITEM SEPARATOR
        MENUITEM "Dis&play Options...",         IDC_LYR_DISPLAY_OPT
        MENUITEM SEPARATOR
        MENUITEM "Mouse &Click Through",        IDC_CLICK_THROUGH
        MENUITEM SEPARATOR
        MENUITEM "&Automatic",                  IDC_LDO_AUTO
        MENUITEM "Norma&l",                     IDC_LDO_NORMAL
        MENUITEM "&Fade in Lyrics",             IDC_LDO_FADE_IN
        MENUITEM "Fade out to Back&ground",     IDC_LDO_FADEOUT_BG
        MENUITEM SEPARATOR
        MENUITEM "Always on &Top",      IDC_SETTOPMOST
        MENUITEM SEPARATOR
        MENUITEM "&Close",                      IDCLOSE
    END
    POPUP "PlaylistMenu"
    BEGIN
        MENUITEM "&Open File...",               IDC_OPENFILE
        MENUITEM "Open &Folder...",             IDC_OPENDIR
        MENUITEM SEPARATOR
        MENUITEM "&Add File...",                IDC_ADDFILE
        MENUITEM "Add F&older...",              IDC_ADDDIR
        MENUITEM SEPARATOR
        MENUITEM "&New Playlist",               IDC_NEW_PL
        MENUITEM "&Save Playlist...",           IDC_SAVE_PL
        MENUITEM SEPARATOR
        MENUITEM "Move &Up",                    IDC_MOVE_UP
        MENUITEM "&Move Down",                  IDC_MOVE_DOWN
        MENUITEM "&Remove From Playlist",       IDC_REMOVE
        MENUITEM SEPARATOR
        MENUITEM "&Clear Now Playing",          IDC_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "Media &Information",          IDC_MEDIA_INFO
    END
    POPUP "MediaLibMenu"
    BEGIN
        MENUITEM "&Queue Up",                   IDC_QUEUE_UP
        MENUITEM "&Queue Up All",               IDC_QUEUE_UP_ALL
        MENUITEM SEPARATOR
        MENUITEM "&Add Folder to Media Library", IDC_ADD_DIR_TO_ML
        MENUITEM SEPARATOR
        MENUITEM "&Remove from Media Library",  IDC_NEW_PL
        MENUITEM SEPARATOR
        MENUITEM "&Now Playing",                IDC_NOWPLAYING
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // 
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

